@model fyp.Models.StudentModel

@{
    ViewData["Title"] = "Add new Student";
}




<h1 class="text-white">Add new student</h1>



<div class="d-flex p-2"style="width: 45%">

    <div class="card-body p-4">
        <div class="card-body p-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>

                <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

                <div class="form-group mb-3">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" type="file" name="file2" accept="Image/*"/>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>


                <div class="form-group mb-3">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="form-control" type="file" name="file"  accept=".pdf"/>
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
                <div class="form-group  d-flex p-2" style="width: 45%">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
